section.about{
  height: 60vh;
  background-color: #EFEFF0;
  h2 {
    padding-top: 50px;
    color: #444349;
    text-align: left;
    font-family: 'Rockhill Sans';
    text-transform: lowercase;
    font-size: 35px;
  }
  p{
    font-family: 'Open Sans';
    color: #444349;
    font-size: 18px;
    line-height: 26px;
  }
}