section.about{
  height: auto;
  background-color: $lightColor;
  padding-bottom: 80px;
  .bodyLine {
    margin-bottom: 60px;
  }
  p{
    color: $darkColor;
    margin-top: 0;
  }
  .aboutParent {
    display: flex;
    justify-content: center;
    align-items: center;
    div:nth-child(1) {
      margin-right: 10%;
    }
  }
  .picture {
    img{
      width: 310px;
    }
  }
}
 
