section.about{
  height: auto;
  background-color: $lightColor;
  padding-bottom: 80px;
  .bodyLine {
    margin-bottom: 60px;
  }
  p{
    color: $darkColor;
    margin-top: 0;
  }
  .aboutParent {
    display: flex;
    justify-content: center;
  }
  .picture {
    img{
      width: 310px;
      margin-left: 120px;
      padding: 5px;
    }
  }
}
 
