section.contact {
  height: auto;
  background-color: $mediumColor;
  display: flex;
  flex-direction: column;
  p.working {
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  form{
    width: 55%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .formParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    margin-top: 55px;
  }
  textarea {
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      width: 100%;
      border: none;
      border-bottom: 1px solid $darkColor;
      font-family: 'Source Sans Pro';
      font-size: 18px;
      color: $darkColor;
      border-radius: 0px;
      background-color: transparent;
      box-shadow: 0 1px 0 0 transparent;
      &::placeholder {
        color: $darkColor;
      }
      &:focus {
      box-shadow: 0 1px 0 0 $darkColor;
      &:focus + label {
      color: $darkColor;
      }
    }
  }
  .submit {
    margin: 60px auto 45px auto;
    background-color: $darkColor;
    padding: 13px 40px;
    border-radius: 20px;
    font-family: 'Hamburg Hand Light';
    font-size: 15px;
    color: $lightColor;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: $accentColor;
    }
  }
  
  .half input[type="text"],
  .half input[type="email"] {
      border: none;
      border-bottom: 1px solid $darkColor;
      box-shadow: 0 1px 0 0 transparent;
      width: 100%;
      height: 30px;
      font-family: 'Source Sans Pro';
      font-size: 18px;
      padding-bottom: 5px;
      color: $darkColor;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color: transparent;
      &:focus {
      box-shadow: 0 1px 0 0 $darkColor;
      &:focus + label {
      color: $darkColor;
      }
    }
  }

  .formParent .half {
      flex-basis: 45%;
  }

  input::placeholder {
      font-size: 18px;
      line-height: 24px;
      color: $darkColor;
  }
  
  .buttonParent {
    display: flex;
    align-items: center;
  }
  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
    margin: 0;
    }
    a[href^="tel"] {
      padding-bottom: 0px;
      padding-top: 5px;
      color: inherit;
      text-decoration: none;
    }
    a[href^="email"] {
      padding-bottom: 55px;
      color: inherit;
      text-decoration: underline;
    }
    p:nth-child(1) {
      text-align: center;
    }
  }
}