section.contact {
  height: 50vh;
  background-color: $mediumColor;
  display: flex;
  flex-direction: column;
  h2 {
    padding-top: 50px;
    color: $darkestColor;
    text-align: left;
    font-family: 'Rockhill Sans';
    text-transform: lowercase;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 1.4px;
  }
}