footer {
  background-color: #444349;
  width: 100%;
  p {
    font-family: 'Apercu Pro Light';
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: $lightColor;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
}