body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkColor;
} 

img {
  display: inline-block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: $darkColor;
  text-align: center;
  font-family: 'Hamburg Hand Light';
  font-size: 27px;
  letter-spacing: 6px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400;
}

p,
a[href^="tel"],
a[href^="email"] {
  font-family: 'Source Sans Pro';
  color: $darkColor;
  font-size: 19px;
  line-height: 1.5;
  // 45-70 characters per line
  // buttericks typography
}

.bodyLine {
  border-top: 2px solid $accentColor;
  width: 70px;
  border-radius: 20px;
  margin: 0 auto;
}

.link {
    display: flex;
    justify-content: center;
  }

.link a {
    background-color: $accentColor;
    margin: 20px;
    padding: 13px 40px;
    border-radius: 20px;
    font-family: 'Hamburg Hand Light';
    font-size: 15px;
    color: $lightColor;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
    width: 157px;
    text-align: center;
    &:hover,
    &:focus {
      background-color: $darkColor;
    }
  }

  // * {
  //   border: 1px solid red;
  // }







