header {
    background-image: url(../assets/stardust_@2X.png);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}

.headerParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
    font-size: 60px;
    letter-spacing: 1.3px;
    font-family: 'Hamburg Hand Bold';
    margin-top: 45px;
    margin-bottom: 20px;
}

.headerImg img {
    width: 550px;
}

h1, 
h2 {
    color: $lightColor;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Hamburg Hand Light';
    letter-spacing: 1.8px;
    margin: 0;
}

span {
    color: $accentColor;
}

a {
    text-decoration: none;
    border: 3px solid transparent;
    color: $lightColor;
    transition: 0.3s all ease-out; 
}

nav {
    display: flex;
    justify-content: center;
    height: 55px;
}

nav ul li {
    font-family: 'Rockhill Sans';
    text-transform: lowercase;
    color: $lightColor;
    margin: 15px;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: lighter;
}

nav ul li a:focus{
  outline: thin dotted;
}

nav ul li a:active,
nav ul li a:hover {
  outline: 0;
}

nav ul li a:hover, 
nav ul li a.active,
nav ul li a:active {
    border-bottom: 3px solid $accentColor;
}


header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    background-color: $darkColor;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

header i.fas {
    color: $accentColor;
    font-size: 55px;
    transition: 0.3s;
    margin-bottom: 35px;
}

.chev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
	-webkit-animation: slide 3s infinite;
	animation: slide 3s infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
            opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
            opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
            opacity: 0;
  }
}