header {
  background-image: url(../assets/stardust_@2X.png);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}
.headerParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 64px;
  letter-spacing: 7px;
  font-family: 'Hamburg Hand Regular';
  margin-top: 0;
  margin-bottom: 10px;
}
.headerImg img {
  width: 550px;
}
h1, 
h2.header {
  color: $lightColor;
  padding: 0;
  text-align: center;
}
h2.header {
  font-size: 27px;
  font-family: 'Hamburg Hand Light';
  letter-spacing: 6px;
  margin: 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
  border: 2px solid transparent;
  color: $lightColor;
  transition: 0.3s all ease-out; 
  padding-bottom: 3px;
  display: block;
}
nav {
  display: flex;
  justify-content: center;
  height: 78px;
}
nav ul li {
  font-family: 'Hamburg Hand Light';
  color: $lightColor;
  margin: 25px 30px 25px 30px;
  font-size: 18px;
  letter-spacing: 4px;
  position: relative;
}
nav ul li a:focus{
  outline: thin dotted;
}
nav ul li a:active,
nav ul li a:hover {
  outline: 0;
}
nav ul li a:hover::after, 
nav ul li a.active::after,
nav ul li a:active::after {
  content: '';
  width: calc(100% - 8px);
  display: block;
  height: 2px;
  background-color: $accentColor;
  position: absolute;
  bottom: 2px;
}
header ul.top {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  background-color: $darkColor;
  width: 100vw;
  justify-content: center;
  z-index: 1000;
  white-space: no-wrap;
}
header ul.bottom {
  width: 100vw;
  background-color: $darkColor;
  position: fixed;
  z-index: 1000;
  list-style: none;
}
header i.fas {
  color: $accentColor;
  font-size: 55px;
  transition: 0.3s;
  margin-bottom: 30px;
}
.chev {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
	-webkit-animation: slide 3s infinite;
	animation: slide 3s infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}