@media(max-width: 1260px) {
  section.projects {
    img {
      width: 500px;
    }
    .projectParent p {
      width: 500px;
    } 
  }
}

@media(max-width: 1160px) {
  section.skills .gridWrapper {
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
  }
  section.projects img,
  section.projects .projectParent p {
    width: 400px;
  }
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 975px) {
  section.projects {
    .projectParent {
    flex-direction: column;
      img {
        width: 500px;
        padding-bottom: 30px;
      }
    }
    .projectParent.middle {
      flex-direction: column-reverse;
    }
  }
  .formParent {
    flex-direction: column;
  }
  .half {
      margin-top: 40px;
  }
  section.contact form {
    width: 70%;
  }
  section.contact {
    p.working {
      padding-bottom: 0;
    }
    form {
      padding-top: 0;
    }
  }
  section.skills .gridWrapper {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    .icon {
    font-size: 70px;
    }
    img {
      width: 70px;
    }
  }
  section.about {
    .aboutParent {
      flex-direction: column-reverse;
      align-items: center;
      div:nth-child(1) {
        padding-right: 0;
        width: 80%;
      }
      img {
        padding-bottom: 30px;
      }
      .resume a {
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 860px) {
  h1 {
    margin-top: 50px;
  }
  h2 {
    padding-top: 75px;
  }
  section.about {
    padding-bottom: 75px;
    .bodyLine {
      margin-bottom: 75px;
    }
  }
  section.skills {
    padding-bottom: 25px;
    .bodyLine {
      margin-bottom: 68px;
    }
  }
  section.projects .projectParent {
    margin-top: 75px;
    padding-bottom: 75px;
  }
  section.contact {
    .social {
      margin-bottom: 75px;
    }
  }
  section.contact p.working {
    padding-top: 75px;
  }
  section.contact .formParent {
    margin-top: 15px;
  }
  .hamburger-menu {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding-left: 17px;
      padding-right: 17px;
      width: 100%;
      height: 100%;
      opacity: 0.95;
      justify-content: center;
    }
  }
  .navVisible {
    visibility: visible;
    right: 0;
    top: 0;
    position: fixed;
  }
  nav {
    visibility: hidden;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 3;
    top: 0;
    right: 100%;
    width: 100%;
    height: 0;
  }
  nav ul li a:hover::after, 
  nav ul li a.active::after,
  nav ul li a:active::after,
  nav ul li a:focus::after {
    width: 0;
    display: none;
  }
  nav ul li a.active {
    color: $accentColor;
  }
  nav ul li {
    border-bottom: 1px solid $lightColor;
  }
  section.about {
  .aboutParent {
    div:nth-child(1) {
      width: 100%;
    }
  }
}
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 768px) {
  section.contact {
    .social {
      a i {
        &:hover
        &:focus {
          color: $darkColor;
        }
      }
    }
    .link a {
      &:hover,
      &:focus {
        background-color: $accentColor;
      }
    }
    .submit {
      &:hover
      &:focus {
        background-color: $accentColor;
      } 
    }
  }
}

@media(max-width: 610px) {
  section.skills .gridWrapper {
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
  }
  section.projects .projectParent img,
  div.projectParent:nth-child(3) > div:nth-child(2) {
    width: 400px;
  }
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 430px) {
  .fa.fa-bars {
    width: 40px;
    top: 14px;
    right: 14px;
  }
  section.about {
    .picture {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  section.skills {
    padding-bottom: 35px;
    .gridWrapper {
      grid-template-columns: 180px 180px;
      grid-template-rows: 180px 180px 180px 180px 180px 180px;
    }
  }
  section.projects {
    padding-right: 20px;
    padding-left: 20px;
    .projectParent img,
    .projectParent p {
      width: 330px;
    }
  }
  .link a {
    margin: 10px 10px 0 10px;
    padding: 11px 0;
    font-size: 14px;
    width: 154px;
  }
  div.projectParent:nth-child(3) > div:nth-child(2){
    width: 340px;
  }
  section.contact form {
    width: 100%;
  }
}

@media(max-width: 414px) {
  .fa.fa-bars {
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 11px;
    line-height: 1.1;
  }
  h2.header {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 1.3;
  }
  .fa.fa-bars {
    top: 14px;
    right: 14px;
  }
  section.projects .projectParent {
    img,
    p {
      width: 270px;
    }
  }
  div.projectParent:nth-child(3) > div:nth-child(2) {
    width: 294px;
  }
  .link a {
    width: 125px;
  }
  section.skills {
    padding-bottom: 45px;
    .gridWrapper {
      grid-template-columns: 145px 145px;
      grid-template-rows: 150px 150px 150px 150px 150px 150px;
    }
  }
}

@media(max-width: 320px) {
  .fa.fa-bars {
    top: 11px;
    right: 11px;
  }
}

