.hamburger-menu {
  position: relative;
  display: none;
}

.fa.fa-bars {
  color: $accentColor;
  top: 6px;
  right: 6px;
  width: 50px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}

.topBar {
  height: 52px;
  width: 100%;
  background-color: $darkColor;
  position: fixed;
  left: 0;
  z-index: 2;
}

.bar {
  position: initial;
  height: 74px;
  width: 100%;
  background-color: $darkColor;
  left: 0;
  z-index: 2;
}


