section.projects {
  background: $lightColor;
  height: auto;
  .bodyLine {
    margin-bottom: 75px;
  }
  img {
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.139);
  }
  .projectParent {
    display: flex;
    margin-top: 55px;
    padding-bottom: 75px;
    align-items: center;
    h3 {
      font-family: 'Hamburg Hand Light';
      color: $darkColor;
      letter-spacing: 2px;
      text-align: center;
      font-size: 22px;
      font-weight: lighter;
    }
    p {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
      text-align: center;
  }
}
  div.margin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    display: flex;
    justify-content: center;
  }

  .link a {
    background-color: $darkColor;
    color: $lightColor;
    margin: 20px;
    padding: 13px 40px;
    border-radius: 20px;
    font-family: 'Hamburg Hand Light';
    font-size: 15px;
    color: $lightColor;
    letter-spacing: 2px;
    border: 2px solid $darkColor;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover{
      background-color: $accentColor;
    }
  }
}

