section.projects {
  background: #EFEFF0;
  height: 50vh;
  h2 {
    padding-top: 50px;
    color: #444349;
    text-align: left;
    font-family: 'Rockhill Sans';
    text-transform: lowercase;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: lighter;
    letter-spacing: 1.4px;
  }
}