section.skills {
  height: auto;
  background-color: $mediumColor;
  display: flex;
  padding-bottom: 20px;
  .bodyLine {
    margin-bottom: 95px;
  }
  .gridWrapper {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 180px 180px 180px 180px 180px 180px;
    grid-gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
    .icon {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    p {
      text-align: center;
      line-height: 1;
    }
  }
}
