section.skills {
  height: auto;
  background-color: $mediumColor;
  display: flex;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 50px;
    padding-top: 50px;
    color: $darkColor;
    text-align: center;
    font-family: 'Hamburg Hand Regular';
    font-size: 30px;
    letter-spacing: 6px;
  }
   .bodyLine {
    border-top: 1px solid $accentColor;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 65px;
    font-family: 'Hamburg Hand Light'
  }
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    li {
      font-size: 80px;
      color: $darkColor;
      transition: 0.3s;
      list-style-type: none;
      margin-left: 75px;
      margin-right: 75px;
      margin-bottom: 50px;
      width: 80px;
      p {
        font-family: 'Hamburg Hand Light';
        font-size: 17px;
        letter-spacing: 0.4px;
        text-align: center;
      }
      p.js {
        margin-left: -15px;
      }
      p.fire {
        margin-left: -10px;
      }
      &:hover,
      &:focus {
        transform: scale(1.2);
        color: $accentColor;
      }
    }
  }
}

