$accentColor: #b3331a;
$darkColor: #444349;
$lightColor: #EFEFF0;
$mediumColor: #DCEBEA;


// #CFDFDD;





// A76F71
//#bd7c7e

// original medium color //#c6d7d4

//#E2F0D7 light green

// #c6d7d4

// VERY NICE RED #c1351a
// #C8553D red ish orange color
