@font-face {
  font-family: 'Hamburg Hand Bold';
  src: url('../Fonts/HamburgHand-Bold.otf');
}

@font-face {
  font-family: 'Hamburg Hand Regular';
  src: url('../Fonts/HamburgHand-Regular.otf');
}

@font-face {
  font-family: 'Hamburg Hand Light';
  src: url('../Fonts/HamburgHand-Light.otf');
}

@font-face {
  font-family: 'Rockhill Sans';
  src: url('../Fonts/RockhillSans-Rough.otf');
}

@font-face {
  font-family: 'Apercu Pro Light';
  src: url('../Fonts/Apercu\ Pro\ Light.otf');
}

@font-face {
  font-family: 'Apercu Pro Regular';
  src: url('../Fonts/Apercu\ Pro\ Regular.otf')
}

@import 'variables';
@import 'global';
@import 'setup';
@import 'header';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';