@font-face {
  font-family: 'Hamburg Hand Bold';
  src: url('../Fonts/HamburgHand-Bold.otf');
}

@font-face {
  font-family: 'Hamburg Hand Regular';
  src: url('../Fonts/HamburgHand-Regular.otf');
}

@font-face {
  font-family: 'Hamburg Hand Light';
  src: url('../Fonts/HamburgHand-Light.otf');
}

@import 'variables';
@import 'setup';
@import 'global';
@import 'header';
@import 'nav';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';
@import 'media'
